<% if @maps.empty? %>
	Ops! You don't have a maps yet! <%= link_to 'Let\'s start with the first!', new_map_path %>
<% else %> 
	<table class="table table-striped table-condensed">
		<thead>
	         <tr>
	           <th>Title</th>
	           <th>Owner</th>
	           <th>Last modified</th>
	           <th>Actions</th>
	         </tr>
	       </thead>        
		<% @maps.each do |map| %>
			<%= render "map", :map => map %>
		<% end %>	
		<% @shared_maps.each do |map| %>
			<%= render "map", :map => map %>
		<% end %>		
	</table>
	<%= link_to 'New Map >>', new_map_path, :class => "btn btn-primary btn-large" %>	

<% end %>