<h2>Edit <%= resource_name.to_s.humanize %></h2>
<% if resource.authorizations.size == 0 %>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'well form-horizontal' }) do |f| %>
	  <%= devise_error_messages! %>
	  <fieldset>	  	  
		  <div class="control-group">
			  <%= f.label :password, :class => 'control-label'  %>
			  <div class="controls">
				  <%= f.password_field :password, :class => 'input-xlarge' %>
				  <p class="help-block">Leave blank if you don't want to change it</p>
			  </div>
		  </div>
		  <div class="control-group">
			  <%= f.label :password_confirmation, :class => 'control-label'  %>
			  <div class="controls">
				  <%= f.password_field :password_confirmation, :class => 'input-xlarge' %>  	             
			  </div>
		  </div>
		  <div class="control-group">
			  <%= f.label :current_password, :class => 'control-label'  %>
			  <div class="controls">
				  <%= f.password_field :current_password, :class => 'input-xlarge' %>
				  <p class="help-block">We need your current password to confirm your changes</p>
			  </div>
		  </div>
		  <div class="controls">
			  <%= f.submit "Update", :class => 'input-xlarge' %>
	      </div>		  
	  </fieldset>

	<% end %>

<% else %>
	Login to <%= resource.authorizations.first.provider %> to change your profile informations.
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
