<h1>Last OpenMindMap news</h1>

<div class='hero-unit'>
<% @news.each do |news| %>
 <h2><%= news.title %></h2>
 <h3><%= news.created_at %> by <%= news.user.email %></h3>
  <p>
   <%= news.content %>
  </p>
<% end %>
</div>