<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
  <fieldset>
    <legend>Sign in</legend>
    <div class="control-group">
      <div class="controls">
        <%= f.label :email %>
        <%= f.email_field :email, :class=>'xlarge' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.label :password %>
        <%= f.password_field :password, :class=>'xlarge' %>
      </div>
    </div>
<% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <div class="controls">
		 <%= f.label :remember_me %>		  
	  	<%= f.check_box :remember_me, :class=>'xlarge'  %>
      </div>
    </div>
 <% end -%>
    <div class="form-actions">
      	<%= f.submit "Sign in", :class => 'btn btn-primary' %>
		<%= render :partial => "devise/shared/links" %>
    </div>
  </fieldset>
<% end %>