<div class='page-header'>
<h1>Bugs report</h1>
</div>

<table class='table'>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>User</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr>
    <td><%= bug.title %></td>
    <td><%= bug.content %></td>
    <td><%= bug.user_id %></td>
    <td><%= bug.status_id %></td>
    <td><%= link_to 'Show', bug %></td>
    <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
    <td><%= link_to 'Destroy', bug, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Bug report', new_bug_path, class: 'btn btn-success' %>
