/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file,but it's generally better to create a new file per style scope.
*= require_self
*= require jquery.contextMenu
*= require colorpicker
*= require jquery-ui.custom
*= require bootstrap.min
*= require attachments
*= require omm
*/
.context-menu-item.menu-icon-wiki{background-image:url(/assets/wiki_small.png);}
.context-menu-item.menu-icon-question{background-image:url(/assets/question_small.png);}
.context-menu-item.menu-icon-classic{background-image:url(/assets/classic_small.png);}
.context-menu-item.menu-icon-idea{background-image:url(/assets/idea_small.png);}
.context-menu-item.menu-icon-pros{background-image:url(/assets/pros_small.png);}
.context-menu-item.menu-icon-cons{background-image:url(/assets/cons_small.png);}
.context-menu-item.menu-icon-mindmap{background-image:url(/assets/mindmap_small.png);}
.context-menu-item.menu-icon-roundbox{background-image:url(/assets/roundbox_small.png);}
.context-menu-item.menu-icon-rectbox{background-image:url(/assets/rectbox_small.png);}
.context-menu-item.menu-icon-ellipse{background-image:url(/assets/ellipse_small.png);}
.context-menu-item.menu-icon-borderless{background-image:url(/assets/borderless_small.png);}
.curtain{position:fixed;width:50%;height:100%;background-color:white;right:0;top:40px;z-index:9999;padding:0px;}
.curtain > ul.media-grid{padding-top:10px}
.boxed{background-color:white;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;padding:20px;}
.mappreview{width:70%;min-height:70%;position:fixed;top:70px;}
.colorpicker{z-index:10000}
img.max-90x90{width:90px !important;height:90px !important;}
footer > p{padding:50px 0 0 20px;}
div.hud {
	position:fixed;
	color:white;
	/*background-color:gray;
	background-color:rgba(0,0,0,0.1);
	color:rgba(0,0,0,0.4);
	* */
	background-color:black;
	background-color:rgba(0,0,0,0.7);	
	top : 55px;
	right: 30px;
	width:  200px;
	height: 410px;
	border:1px solid #999;
	border:1px solid rgba(0,0,0,0.3);
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
	box-shadow:0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;background-clip:
	padding-box;padding:20px;
}
div.hud:hover {
	background-color:black;
	background-color:rgba(0,0,0,0.7);
	color:white;
}

div.hud input {
	background-color:rgba(255,255,255,0.7);
}

div.hud div#hud-wiki-content {
	height: 150px;
	width: 180px;
	margin:10px 0 10px 0;
	padding: 5px 10px;
	border: 1px solid black;
	color: black;
	background-color:rgba(255,255,255,0.7);
	overflow:scroll;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.hud div.hud-wiki {
	padding-top:10px;
}
div.hud label{
	color:white;
}

#btn-toggle-hud{
	position:fixed;
	top: 50px;
	right: 30px;
	z-index:999;
	display: none;
}

ul.home-social-links li a { vertical-align: middle; }

.well div{
	padding: 2px 0;
}
.well div img{
	vertical-align: middle;
	width:16px;
	height:16px;	
}
.container > .row-fluid > .span12 > .hero-unit{
	height:350px
}
#myCarousel .carousel-control {
	top : 175px;
}

.offset-home {
	margin-left: 50px;
}

#placeHolder{
	position: fixed;
}

