<!DOCTYPE html>
<html>
<head>
	<title>OpenMindMap</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application", controller_name %>
	<%= auto_discovery_link_tag(:rss, news_index_url(:format => :rss)) %>
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->  
		<%= csrf_meta_tag %>
		<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />
        
	</head>
	<body>
		<div class="navbar navbar-fixed-top hidden-tablet hidden-phone">
			<div class="navbar-inner">
				<div class="<%= @container_class || 'container' %>">
					<%= link_to image_tag('logo_small.png', :boreder => 0, :size => '37x20', :style => 'padding-right:5px') + "OpenMindMap", '/', :class => 'brand' %>
					<% if user_signed_in? %>
					<ul class="nav">	
						<li><%= link_to "Public maps", maps_public_path %></li>
						<li><%= link_to 'New Map',     new_map_path %></li>
						<li><%= link_to 'Import Map',  maps_import_path %></li>			
					</ul>
					<% end %>
					<ul class="nav pull-right">
						<% unless user_signed_in? %>			
						<li><%= link_to "New to OpenMindMap? Sign Up or", new_user_registration_path %></li>
						<% end %>
						<li id="fat-menu" class="dropdown">
							<% if user_signed_in? %>
								<% if current_user.name %>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
								<% else %>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
								<% end %>
									<ul class="dropdown-menu">
										<li><%= link_to "Edit profile", edit_user_registration_path(current_user) %></li>
										<li class="divider"></li>
										<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
									</ul>
							<% else %>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login with...<b class="caret"></b></a>
								<ul class="dropdown-menu">	     
									<li><%= link_to "Username and password", new_user_session_path %></li>
									<li class="divider"></li>
									<li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
									<li><%= link_to 'Google', user_omniauth_authorize_path(:google_apps) %></li>
									<li><%= link_to 'Twitter', user_omniauth_authorize_path(:twitter) %></li>
									<li><%= link_to "GitHub", user_omniauth_authorize_path(:github) %></li>
									<li><%= link_to "Yahoo", user_omniauth_authorize_path(:yahoo, :openid_url => "http://yahoo.com") %></li>
									<li><%= link_to "WindowsLive", user_omniauth_authorize_path(:windowslive, :openid_url => "http://oauth.live.com", 
										:redirect_uri => 'http://openmindmap.me/users/auth/windowslive/callback') %></li>	              
								</ul>
							</li>
						</ul>		
						<% end %>		
					</div>
				</div>
			</div>

			<% if notice %>
			<script lang='javascript'>$(".alert-message").alert()</script>
			<div class='alert' id="notice"> <a class="close" data-dismiss="alert" href="#">&times;</a>
				<%= notice %></div>
				<% end %>
				<div class="<%= @container_class || 'container' %>">	
					<%= yield %>
				</div> <!-- /container -->

				<footer>
					<p>&copy; Piero Bozzolo 2011-2012</p>
				</footer>
			</body>
			</html>
